#fon{
    background: url("img/muckup.png");
    background-size: cover;
    background-position-x: right;
    background-position-y: center;
    min-height: 65vh;
}
.textHead{
  font-size: 22px;
  font-weight: 600;
}
#fon1{
    background: url("img/fon2.jpg");
    background-size: cover;
    background-position-x: right;
    background-position-y: center;
}
#fon3{
  background: url("img/wood.jpg");
  background-size: cover;
}
#fon2{
    background: url("img/fon1.png");
    background-size: cover;
    background-position-x: right;
    background-position-y: bottom;
}
