#fon{
    background: url("img/muckup.png");
    background-size: cover;
    background-position-x: right;
    background-position-y: center;
    min-height: 65vh;
}
.textHead{
  font-size: 22px;
  font-weight: 600;
}
#fon1{
    background: url("img/fon2.jpg");
    background-size: cover;
    background-position-x: right;
    background-position-y: center;
}
#fon3{
  background: url("img/wood.jpg");
  background-size: cover;
}
#fon2{
    background: url("img/fon1.png");
    background-size: cover;
    background-position-x: right;
    background-position-y: bottom;
}

/*animation */
#fon{
  animation: head 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
@keyframes head{
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(0%)
  }
}
