#block1{
    background: url("img/Office.gif");
    background-position-x: left;
    background-position-y: center;
    background-size: cover;
    min-height: 75vh;
    width: 100%;
}
.blockWhite{
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(252, 252, 252, 0.901));
    min-height: 75vh;
}
.butt > a {
    text-decoration: none !important;
    outline: none;
    display: inline-block;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: rgb(121, 203, 250);
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
    transition: .3s;
    padding: 3px 25px;
  }
  .butt > a:hover {
    color: white;
    transform: translateY(-7px);
    box-shadow: 0 8px 15px rgba(0,0,0,.6);
    background: rgb(60, 178, 247);
  }
@media(max-width: 758px){
  h2, h2 + p{
    text-shadow: -1px 0 1px white, 0 -1px 1px white, 0 1px 1px white, 1px 0 1px white, 0 0 8px white, 0 0 8px white, 0 0 8px white, 2px 2px 3px black;
  }
  h2 + p{
    font-size: 25px !important;
  }
}

